html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-datatable-width-auto,
.p-datatable-width-auto .p-datatable-wrapper {
  width: fit-content;
}
.p-datatable-width-auto .p-paginator {
  width: 100%;
}

.p-datatable-width-auto table {
  width: auto;
}